.card_area{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-right:4px;
}

.card_area .MuiCard-root{
   width:100%;
   margin-right: 15px;
   max-width: 23%;
   margin-bottom: 25px;
}

.card_area .MuiCard-root:last-child{
    margin-right: 0px;
}
.card_area .MuiButton-root{
    text-align: center;
    color: white;
    font-size: 16px;
}
/* background-color: lightblue; */
.pricingBadge{
  position: absolute;
  left: -20px;
  top: 5px;
}
.pricingClass{
  position: relative;
  overflow: visible !important;
}

.pricingClass{
  background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
}

.MuiBadge-badge.MuiBadge-standard{
  border-radius: 5px;
  position: relative;
  top: 15px;
  left: -35px;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeLarge{
  font-size: 4rem;
}
.images{
  max-width: 13%;
  margin-left: 10%;
}
.pricingBadge .MuiSvgIcon-fontSizeMedium{
  color: white;
}