.card_area{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-right:4px;
}

.card_area .MuiCard-root{
   width:100%;
   margin-right: 15px;
   max-width: 23%;
   margin-bottom: 25px;
}

.card_area .MuiCard-root:last-child{
    margin-right: 0px;
}
.card_area .MuiButton-root{
    text-align: center;
    color: white;
    font-size: 16px;
}
/* background-color: lightblue; */