.card_area{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-right:4px;
}

.card_area .MuiCard-root{
   width:100%;
   margin-right: 15px;
   max-width: 23%;
   margin-bottom: 25px;
}

.card_area .MuiCard-root:last-child{
    margin-right: 0px;
}
.card_area .MuiButton-root{
    text-align: center;
    color: white;
    font-size: 16px;
}
/* background-color: lightblue; */
.pricingBadge{
  position: absolute;
  left: -20px;
  top: 5px;
}
.pricingClass{
  position: relative;
  overflow: visible !important;
  background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
}

.pricingList{
  background: white !important;
}
.pricingList .MuiSvgIcon-root, .pricingList .MuiTypography-root{
  color: rgba(0, 0, 0, 0.87) !important;
}
.MuiBadge-badge.MuiBadge-standard{
  border-radius: 5px;
  position: relative;
  top: 15px;
  left: -35px;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeLarge{
  font-size: 4rem;
}
.images{
  max-width: 13%;
  margin-left: 10%;
}
.pricingBadge .MuiSvgIcon-fontSizeMedium{
  color: white;
}
.MuiCardActions-root {
  margin-left: 111px;

}

#addUser input , #addUser input:focus {
  border-bottom: 0;
  box-shadow: none !important;
  margin-bottom: 11px; 

}
 #fields {
  margin-bottom: 10px !important;
 }
 .MuiButton-root.button {
   width: 100%;
 }
 .navbar-list.right{
  display: flex;
 }
 /* #loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: #cccccc7a;
 } */
.bt h6{
  color: white;
}
.inputss::placeholder{
  color: #000;
  font-weight:600;
  padding-left: 5%;
}

#inputid {
  max-width: 40%;
  border:1px solid #000;
  border-radius:30px;
}

.purchasefree {
  max-width:400px;
  width:100%;
  margin: auto;
  margin-top: 105px;
}

.MuiTypography-root.MuiTypography-body2.css-e784if-MuiTypography-root.StripeCheckout{
  display: flex;
  justify-content: center;
} 

#edit{
  margin-left: 250px;
  margin-top: 29px;

}
.navbar .navbar-dark ul a {
  color: #0d6efd;
}

/* 
react tags
*/
.app {
  padding: 4px;
  text-align: left;
}

/* Example Styles for React Tags*/

/* .container {
  margin: auto;
  width: 50%;
} */
.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #63bcfd;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
  margin-left: 0px;
}
.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
}

.release {
  display: flex;
  /* width: 16px; */
}
.release pre{
  color:red;
  font-size: 10px;
}
#unique {
  width: 100%;
  margin-left: 10px;
}
#first_name02 {
  width: 235%;
}
.question {
  color: red;
  font-weight: bold;
}
.radiobutton .radio Input {
  /* opacity: 1; */
}