.login-card{
    max-width: 40%;
    background-color: rgb(255 255 255 / 71%)
}

.login-card h5{
    text-align: center;
}

/* .login-card input, .login-card .input-field, .login-card label{
    color: #FFFFFF;
} */
.container {
    width: 100%;
    /* background-color: rgba(173, 216, 230, 0); */
}
/* left: 11px;
    width: 20px;
    height: 20px;
    color: white;
    margin-top: 3px;
    margin-right: 28px; */
.register-card {
    max-width: 40%;
    background-color: rgb(255 255 255 / 71%)
}
.register-card h5 {
    text-align : center;
}

#agree {
    left: 0px;
    width: 22px;
    height: 22px;
}

/* register page css */

.flatbg-image{
   background-image: url('/css/images/flat-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
.bgchange{
    background-image: url('/css/images/flat-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#rc-anchor-container{
    width:25px;
}
.captcha {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 5%;
}
.forgot-card{
    max-width: 35%;
} 

.bgchangere{
    background-image: url('/css/images/flat-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.reset-card {
    max-width: 35%;
    margin: auto;
    margin-top: 16%;
}

